basePath: /
definitions:
  domain.File:
    properties:
      created_at:
        type: string
      file_name:
        type: string
      file_size:
        type: integer
      id:
        type: integer
      is_short:
        type: boolean
      mime_type:
        type: string
      s3_key:
        type: string
      serial_number:
        type: integer
    type: object
  domain.PointOfInterest:
    properties:
      created_at:
        type: string
      description:
        type: string
      full_audio_files:
        items:
          $ref: '#/definitions/domain.File'
        type: array
      id:
        type: integer
      image_file:
        $ref: '#/definitions/domain.File'
      latitude:
        type: number
      longitude:
        type: number
      name:
        type: string
      short_audio_file:
        $ref: '#/definitions/domain.File'
    type: object
  domain.S3FileInfo:
    properties:
      content_type:
        type: string
      last_modified:
        type: string
      name:
        type: string
      size:
        type: integer
    type: object
  domain.S3ListResponse:
    properties:
      files:
        items:
          $ref: '#/definitions/domain.S3FileInfo'
        type: array
    type: object
  handler.Response:
    properties:
      data: {}
      error:
        type: string
    type: object
host: 45.150.8.131:8080
info:
  contact: {}
  description: API для сервиса геолокации и точек интереса
  title: AIGPS Service API
  version: "1.0"
paths:
  /api/poi/create:
    post:
      consumes:
      - multipart/form-data
      description: Создает новую точку интереса с изображением и аудиофайлами
      parameters:
      - description: Название точки интереса
        in: formData
        name: name
        required: true
        type: string
      - description: Описание точки интереса
        in: formData
        name: description
        required: true
        type: string
      - description: Широта
        in: formData
        name: latitude
        required: true
        type: number
      - description: Долгота
        in: formData
        name: longitude
        required: true
        type: number
      - description: Изображение точки интереса
        in: formData
        name: image
        required: true
        type: file
      - description: Короткое аудио
        in: formData
        name: short_audio
        required: true
        type: file
      - collectionFormat: csv
        description: Полные аудио файлы
        in: formData
        items:
          type: file
        name: full_audio
        required: true
        type: array
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/domain.PointOfInterest'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.Response'
      summary: Создание новой точки интереса
      tags:
      - POI
  /api/poi/nearby:
    get:
      description: Возвращает ближайшие точки интереса по координатам
      parameters:
      - description: Широта
        example: 55.7558
        in: query
        name: latitude
        required: true
        type: number
      - description: Долгота
        example: 37.6173
        in: query
        name: longitude
        required: true
        type: number
      - default: 150
        description: Радиус в метрах
        example: 100
        in: query
        name: radius
        type: number
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.PointOfInterest'
      summary: Поиск ближайшей точки интереса
      tags:
      - POI
  /health:
    get:
      description: Проверяет доступность сервиса
      responses:
        "200":
          description: Успешный ответ
          schema:
            $ref: '#/definitions/handler.Response'
      summary: Проверка здоровья сервиса
      tags:
      - Health
  /s3/files/{path}:
    get:
      description: Скачивает файл из S3 хранилища по указанному пути
      parameters:
      - description: Путь к файлу в S3
        example: '"images/photo.jpg"'
        in: path
        name: path
        required: true
        type: string
      responses:
        "200":
          description: Файл
          headers:
            Content-Length:
              description: Размер файла в байтах
              type: string
            Content-Type:
              description: MIME-тип файла
              type: string
          schema:
            type: file
      summary: Получить файл из S3
      tags:
      - S3
  /s3/health:
    get:
      description: Проверяет соединение с S3 хранилищем
      responses: {}
      summary: Проверка соединения с S3 хранилищем
      tags:
      - S3
  /s3/list:
    get:
      description: Возвращает список файлов в S3 бакете с возможностью фильтрации
        по префиксу
      parameters:
      - description: Префикс для фильтрации файлов
        example: '"images/"'
        in: query
        name: prefix
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.S3ListResponse'
      summary: Получить список файлов
      tags:
      - S3
swagger: "2.0"
